<div class="card mt-2">
    <div class="card-body">
        <div class="card-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Comment</h5>
        </div>
        <div class="card-body">
            <form class="comment-form">
                <div>
                    <textarea name="comment-body" type="text" class="form-control m-2"/></textarea>
                </div>
                <button class="btn btn-primary m-2" type="submit">Add Comment</button>
            </form>
        </div>
    </div>
</div>

<script src="/javascript/comment.js"></script>