<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign up here!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="signup-form" method="POST" id="signup-form">
                    <div class="mb-3">
                        <label for="username-signup" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username-signup" placeholder="username" />
                    </div>
                    <div class="mb-3">
                        <label for="email-signup" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email-signup" placeholder="name@example.com" />
                    </div>
                    <div class="mb-3">
                        <label for="password-signup" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password-signup" placeholder="**********" />
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Sign-Up!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>