<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Welcome!</strong> You'll need to 
    <a data-bs-toggle="modal" class="alert-link" href="#" data-bs-target="#signupModal">Sign-Up</a> or 
     <a data-bs-toggle="modal" class="alert-link" href="#" data-bs-target="#loginModal">Login</a> to begin!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>