<div class="card m-5">
    <div class="card-header">
        <h2>Create New Post</h2>
    </div>
    <div class="card-body">
        <form class="new-post-form">
            <div class="new-post-form">
                <input type="text" class="form-control" id="post-title" name="post-title" placeholder="TITLE:">
                <label for="post-title">Title</label>
            </div>
            <div class="form-floating">
                <textarea type="text" class="form-control" id="post" placeholder="Blog here!"></textarea>
                <label for="post">Blog here!</label>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Create</button>
        </form>
    </div>
</div>

{{#if posts.length}} 
<section>
    <h2 class="ms-5">Your Posts</h2>
    <ul>
        {{#each posts as |post|}} 
        <li>
            <div class="card m-2">
                <div class="card-body">
                    {{> post-info post}} 
                    <a href="/dashboard/edit/{{post.id}}" class="edit-link btn btn-primary mt-2">Edit post</a>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</section>
{{/if}} 
<script src="/public/add-post.js"></script>