<div class="card m-5">
    <div class="card-body">
        <div class="card-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
        </div>
        <div class="card-body">
            <form class="edit-post-form">
                <div>
                    <input name="post-title" type="text" value="{{post.title}}" class="form-control m-2"/>
                </div>
                <div>
                    <textarea name="post" type="text" class="form-control m-2"/>{{post.post}}</textarea>
                </div>
                <button class="btn btn-primary m-2" type="submit">Save post</button>
                <button class="btn btn-danger m-2 delete-post-btn" type="button" class="delete-post-btn">Delete post</button>
            </form>
        </div>
    </div>
</div>


<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>